@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero {
    padding: 16px 160px 128px; 
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 800;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    margin-top: 80px;
    align-items: flex-start;
}

.content button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 800;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 6px 24px;
}

.main img {
    height: 320px;
}

.random h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 32px;
}

.random {
    padding: 0px 160px 128px;
}

.random-images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 172px;
    gap: 8px;
}

.image img {
    object-fit: cover;
    height: 156px;
    width: 156px;
    border-radius: 16px;
    border: 5px solid #3882F6;
}

.cards .content {
    text-align: center;
    font-size: 18px;
}

.quote {
    background-color: #E5E7EB;
    padding: 128px 232px;
}

.quote .content {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote .author {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
}

.cta {
    padding: 96px 128px; 
}

.cta-card {
    background-color: #3882F6;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    align-items: center;
}

.cta-card .title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.cta-card .text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.cta button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 800;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 6px 24px;
    border: 3px solid #E5E7EB;
}

.footer p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
}

.footer {
    padding: 32px;
}